{% from "macros.html" import create_navlink %}

<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <a class="navbar-brand" href="{{ url_for('main.index') }}">
      <img src="{{ url_for('static', filename='images/favicon.ico') }}" alt="Tazo's Winery Logo">
     </a>
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {{ create_navlink('main.index', _('Home')) }}
                {{ create_navlink('main.about', _('About')) }}
                {{ create_navlink('products.all_products', _('Products')) }}
            {% if current_user.is_authenticated %}
                {{ create_navlink('main.profile', _('Profile'), 'fas fa-user-circle') }}
                {{ create_navlink('cart.view_cart', _('Cart'), 'fas fa-shopping-cart') }}
            {% endif %}



                {% if current_user.is_authenticated and current_user.role.name == "admin" %}
                    <a href="{{ url_for("admin.index") }}" class="nav-link">{{ _("Admin Panel") }}</a>
                {% endif %}
            </div>
        </div>
  </div>

  <div class="language-flags">
    <a href="{{ url_for('main.change_language', language='ka') }}">
        <img src="{{ url_for('static', filename='images/flags/ge.png') }}"
             alt="GEO" title="GEO" style="width: 30px; height: 19px;">
    </a>
    <a href="{{ url_for('main.change_language', language='en') }}">
        <img src="{{ url_for('static', filename='images/flags/en.png') }}"
             alt="ENG" title="ENG" style="width: 30px; height: 19px;">
    </a>
</div>





        {% if current_user.is_authenticated %}
          <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-warning">
             <i class="fas fa-sign-out-alt"></i>{{ _("Logout") }}</a>

        {% else %}
        <a href="{{ url_for('auth.login') }}" class="btn btn-outline-warning mx-2">{{ _("Login") }}</a>
         <a href="{{ url_for('auth.register') }}" class="btn btn-outline-warning">{{ _("Register") }}</a>
        {% endif %}
    </form>
          </div>
</nav>



<div class="container-div">
   {% block body %}
    {% endblock %}
</div>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>