{% extends "layout/base.html" %}
{% block title %}
login
{% endblock %}

{% block body %}

 {% set messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="{% if category == 'success' %}success {% elif category == 'error'  %}error{% endif %} " role="alert">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}

<form method="post">
   {{ form.hidden_tag() }}
 <div class="bg-white p-3 rounded-2 mb-3 shadow">
     <div class="mb-3">
         {{ form.username.label(class="form-label") }}
         {{ form.username(class="form-control") }}
     </div>
     <div class="mb-3">
         {{ form.password.label(class="form-label") }}
         {{ form.password(class="form-control") }}
     </div>
 </div>
<div class="bg-white p-3 rounded-2 mb-3 shadow">
    {{ form.submit(class="btn btn-success") }}
    <a href="{{ url_for('auth.for_reset_password') }}">Forgot Password?</a>
</div>
</form>

{% endblock %}
