{% extends "layout/base.html" %}
{% block title %}
Login | Tazoswinery.ge
{% endblock %}

{% block body %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
        {% for  category, message in messages %}
            <li class="{{ category }}">
                {{ _(message) }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
   {% endwith %}


<form method="post">
   {{ form.hidden_tag() }}
  <div class="custom2-background p-4 rounded-5 mb-4 shadow">
     <div class="mb-3">
         {{ form.username.label(class="form-label") }}
         {{ form.username(class="form-control") }}
     </div>
     <div class="mb-3">
         {{ form.password.label(class="form-label") }}
         {{ form.password(class="form-control") }}
     </div>
 </div>
 <div class="custom2-background p-4 rounded-5 mb-4 shadow">
    {{ form.submit(class="btn btn-success") }}
    <a href="{{ url_for('auth.for_reset_password') }}">{{ _("Forgot Password?") }}</a>
</div>
</form>

{% endblock %}
