{% extends "layout/base.html" %}
{% block title %}
 resend key
{% endblock %}

{% block body %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
        {% for  category, message in messages %}
            <li class="{{ category }}">
                {{ _(message) }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
   {% endwith %}


<form method="post">
   {{ form.hidden_tag() }}
 <div class="bg-white p-3 rounded-2 mb-3 shadow">

     <div class="mb-3">
         {{ form.email.label(class="form-label") }}
         {{ form.email(class="form-control") }}
     </div>
 </div>
<div class="bg-white p-3 rounded-2 mb-3 shadow">
    {{ form.submit(class="btn btn-success") }}
</div>
</form>

{% endblock %}