 body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }

  /* Set background image for the body */
  body {
    background-image: url('https://t3.ftcdn.net/jpg/00/90/61/14/240_F_90611493_h9XRddz6NriZmVKSa0ZoiVSxYUrSKb2r.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  /* Flex container for contact sections */
  .d-inline-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

  }

  /* Styling for each contact section */
  .d-inline-block {
    flex: 1;
    text-align: center;
    padding: 20px;
    max-width: 300px; /* Added max-width to limit width */
  }


  /* Styling for buttons */
  .btn {
    margin-top: 10px;
  }
  .diviko {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

