{% extends "layout/base.html" %}

{% block title %}
 buy products | Tazoswinery.ge
{% endblock %}

{% block body %}
    <h1>პროდუქტის შეძენა</h1>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">სახელი</th>
                <th scope="col">აღწერა</th>
                <th scope="col">ფასი</th>
                <th scope="col">ჩამოსხმის წელი</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td> {{ product.name }}</td>
                <td> {{ product.description }}</td>
                 <td> {{ product.price }}</td>
                 <td> {{ product.yearofbottling }}</td>

            </tr>
            </tbody>
        </table>
    </div>
    <h1>გადახდის მეთოდები:</h1>
    <i class='fab fa-apple-pay' style='font-size:48px;color:red'></i>
    <i class='fab fa-cc-mastercard' style='font-size:48px;color:red'></i>
    <i class='fab fa-cc-visa' style='font-size:48px;color:red'></i>
    <i class="fa fa-cc-paypal" style="font-size:48px;color:red"></i>
{% endblock %}