{% extends "layout/base.html" %}

{% block title %}
 buy products
{% endblock %}

{% block body %}
    <h1>პროდუქტის შეძენა</h1>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">სახელი</th>
                <th scope="col">აღწერა</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td> {{ product.name }}</td>
                <td> {{ product.description }}</td>

            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}