{% extends "layout/base.html" %}

{% block title %}
 edit products
{% endblock %}

{% block body %}


      {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
        {% for  category, message in messages %}
            <li class="{{ category }}">
                {{ message }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
   {% endwith %}



    <h1> edit product</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="bg-white p-3 rounded-2 mb-3 shadow">
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.description.label(class="form-label") }}
                {{ form.description(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.price.label(class="form-label") }}
                {{ form.price(class="form-control") }}
            </div>
             <div class="mb-3">
                {{ form.category.label(class="form-label") }}
                {{ form.category(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.photo.label(class="form-label") }}
                {{ form.photo(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
