{% extends "layout/base.html" %}

{% block title %}
 Wine Products
{% endblock %}

{% block body %}

<div class="card-container">
    {% for product in prlist %}
        <div class="card square-card">
            <div class="card-img-wrapper">
                <img src="{{ product.photo }}" class="card-img-top" alt="Product image">
            </div>
          <div class="discount-badge">-10%</div>
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text" style="font-weight: bold;">{{ product.price }} ლარი</p>
                <p class="card-text" style="font-style: italic;">{{ product.category }}</p>
                <p class="card-text" style="color: red;">{{ product.yearofbottling }}</p>
                <a href="{{ url_for('products.view_product', id=product.id) }}" class="btn btn-primary">Details</a>

                {% if current_user.is_authenticated and current_user.role.name == "admin" %}
                    <a href="{{ url_for('products.edit_product', id=product.id) }}" class="btn btn-warning">Edit</a>
                    <a href="{{ url_for('products.delete_product', id=product.id) }}" class="btn btn-danger">Delete</a>
                    <a href="{{ url_for('products.add_product', id=product.id) }}" class="btn btn-success">Add</a>
                {% elif current_user.is_authenticated and current_user.role.name != "admin" %}
                    <a href="{{ url_for('products.buy_product', id=product.id) }}" class="btn btn-warning">Buy</a>
                    <a href="{{ url_for('products.cart', id=product.id) }}" class="fa fa-shopping-cart">add to cart</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>




{% endblock %}
