{% extends "layout/base.html" %}
{% block body%}
    <style> body {
  background-image: url('https://t3.ftcdn.net/jpg/01/04/20/18/240_F_104201889_akJ4gafyCdIkgvAy7ZGxbtxXoPkcBryb.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}</style>



    <div class="container mt-4"> <h3>ჩვენს შესახებ</h3>
<i><b><p>საოჯახო მეღვინეობა სახელწოდებით Tazo's Winnery შეიქმნა 2004 წელს,
    ქართული ვაზის ჯიშებისგან ტრადიციული მეთოდებით დაყენებული ღვინო წარმოადგენს ჩვენს პროდუქტს.
    ჩვენთვის პირველ რიგში მნიშვნელოვანია ხარისხი და არა რაოდენობა. საოჯახო მეღვინეობა ღვინოსთან ერთად ვიზიტორებს სთავაზობს
    განთავსებას, შემეცნებით აქტივობებს და გასტრონომიას. ჩვენი მისამართია აბაშის რაიონი სოფელი მარანი მე-7 ქუჩა ბინა  №18,
    მარანთან ერთად გაგვაჩნია საოჯახო სასტუმრო და ღვინის სადეგუსტაციო მარანი. სადაც სტუმრებს შეუძლიათ დააგემოვნონ,
    როგორც აღმოსავლეთ, ასევე დასავლეთ საქართველოს უნიკალური ყურძნის ჯიშებისგან დაყენებული ღვინოები,  წლების გნმავლობაში
    დაგროვილი გამოცდილება გვაძლევს საშუალებას ვაწაარმოოთ ღვინო სხვადასხვა რეგიონის ჯიშის
    ყურძნისგან ესენია: რქაწითელი, საფერავი,
    ცოლიკაური,ციცქა, კაბერნე, თავკვერი. ღვინოები დაყენებულია კახური (ქვევრში), იმერული და კლასიკური ტექნოლოგიით.
    მოსულ ვიზიტორებს შეეძლებათ განთავსება, ინფორმაციის მიღება ღვინის დაყენების ტექნოლოგიებზე, დააგემოვნონ ქართული
    კერძები და მონაწილეობა მიიღონ მის მომზადებაში.
    მარანს გააჩნია საკუთარი ვენახები იმერეთში, ასევე შევისყიდით სხვადასხვა რეგიონებიდან, სანდო მევენახეებისგან.
    დეგუსტაციები ტარდება ყოველდღიურად, 10სთ-დან 22სთ-მდე.
    სტუმრებს დეგუსტაციის შემდეგ შესაძლებლობა ეძლევათ თავად შეარჩიონ და შეიძინონ, ჩვენს მიერ ბოთლში ჩამოსხმული
    ნატურალური ღვინოები.
    „თაზოს მარანს” გააჩნია საოჯახო სასტუმრო ოთხი ორკაციანი ნომრით ივენტარით და საჭირო პირობებით, ასევე ტერასით საიდანაც
    იშლება ლამაზი ხედები.
     </p></b></i>
<hr>
</div>
<form>
<div class="container mt-4 bg-light rounded-3 shadow">

<ol>
    <li>უკუკავშირი. რა მოგეწონათ ან არ მოგეწონათ ჩვენთან?</li>
    <textarea placeholder="პასუხი აქ ჩაწერეთ" cols="40" rows="5"></textarea>
    <li>რომელი ღვინო მოგეწონათ?</li>
    <textarea placeholder="პასუხი აქ ჩაწერეთ" cols="40" rows="5"></textarea>
</ol>
<hr>
</div>
</form>
<div class="card container mt-4 bg-light rounded-3 shadow" style="width: 18rem;">
  <img src="https://img.freepik.com/premium-vector/fitness-concept_1133-512.jpg?w=740" class="card-img-top" alt="პროდუქტი">
  <div class="card-body">
    <h5 class="card-title">ციცქა</h5>
    <p class="card-text">7GEl</p>
    <a href="#" class="btn btn-primary">შეძენა</a>
  </div>
</div>
{% endblock %}