{% extends "layout/base.html" %}
{% block title %}
 About Page | Tazoswinery.ge
{% endblock %}
{% block body%}



    <div class="container mt-4 bg-light rounded-3 shadow custom2-background"> <h3>ჩვენს შესახებ</h3>
<i><b><p>საოჯახო მეღვინეობა სახელწოდებით Tazo's Winnery შეიქმნა 2004 წელს,
    ქართული ვაზის ჯიშებისგან ტრადიციული მეთოდებით დაყენებული ღვინო წარმოადგენს ჩვენს პროდუქტს.
    ჩვენთვის პირველ რიგში მნიშვნელოვანია ხარისხი და არა რაოდენობა. საოჯახო მეღვინეობა ღვინოსთან ერთად ვიზიტორებს სთავაზობს
    განთავსებას, შემეცნებით აქტივობებს და გასტრონომიას. ჩვენი მისამართია აბაშის რაიონი სოფელი მარანი მე-7 ქუჩა ბინა  №18,
    მარანთან ერთად გაგვაჩნია საოჯახო სასტუმრო და ღვინის სადეგუსტაციო მარანი. სადაც სტუმრებს შეუძლიათ დააგემოვნონ,
    როგორც აღმოსავლეთ, ასევე დასავლეთ საქართველოს უნიკალური ყურძნის ჯიშებისგან დაყენებული ღვინოები,  წლების გნმავლობაში
    დაგროვილი გამოცდილება გვაძლევს საშუალებას ვაწაარმოოთ ღვინო სხვადასხვა რეგიონის ჯიშის
    ყურძნისგან ესენია: რქაწითელი, საფერავი,
    ცოლიკაური,ციცქა, კაბერნე, თავკვერი. ღვინოები დაყენებულია კახური (ქვევრში), იმერული და კლასიკური ტექნოლოგიით.
    მოსულ ვიზიტორებს შეეძლებათ განთავსება, ინფორმაციის მიღება ღვინის დაყენების ტექნოლოგიებზე, დააგემოვნონ ქართული
    კერძები და მონაწილეობა მიიღონ მის მომზადებაში.
    მარანს გააჩნია საკუთარი ვენახები იმერეთში, ასევე შევისყიდით სხვადასხვა რეგიონებიდან, სანდო მევენახეებისგან.
    დეგუსტაციები ტარდება ყოველდღიურად, 10სთ-დან 22სთ-მდე.
    სტუმრებს დეგუსტაციის შემდეგ შესაძლებლობა ეძლევათ თავად შეარჩიონ და შეიძინონ, ჩვენს მიერ ბოთლში ჩამოსხმული
    ნატურალური ღვინოები.
    „თაზოს მარანს” გააჩნია საოჯახო სასტუმრო ოთხი ორკაციანი ნომრით ივენტარით და საჭირო პირობებით, ასევე ტერასით საიდანაც
    იშლება ლამაზი ხედები.
     </p></b></i>
<hr>
</div>

<div class="container mt-4 bg-light rounded-3 shadow custom2-background">
        <strong><h1 class="info-text">ონლაინ პროდუქტის შესაძენად საჭიროა გაიაროთ რეგისტრაცია</h1></strong>
     <a href="{{ url_for('auth.register') }}" class="btn btn-warning">დააჭირე აქ</a>
    <hr>
</div>
    <div class="container mt-4 bg-light rounded-3 shadow custom2-background">
    <strong><h1><span class="slanted-arrow-left"></span>რას გთავაზობთ? <span class="slanted-arrow-right"></span></h1></strong>
<hr class="black-bar">

    <div class="row">
        <div class="col border-end border-4 ">
            <h1>მომსახურება</h1>
            <ul>
                <li><h2>საოჯახო სასტუმრო</h2></li>
                <li><h2>გასტროტურიზმი</h2></li>
                <li><h2>შემეცნებითი აქტივობები</h2></li>
                <li><h2>დეგუსტაცია</h2></li>
            </ul>
        </div>
        <div class="col">
            <h1>პროდუქტი</h1>
            <ul>
                <li><h2><a href="/products">ღვინო</a></h2></li>
                <li><h2>ღვინის ტკბილისგან დამზადებული ტკბილეული</h2></li>
                <li><h2>სხვა ალკოჰოლური სასმელები</h2></li>
                <li><h2>ტრადიციული სამზარეულო</h2></li>
            </ul>
        </div>
    </div>
</div>
<form>
<div class="container mt-4 bg-light rounded-3 shadow custom2-background">
<h1>Text Area Form</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.texstarea.label }}<br>
        {{ form.texstarea(size=20) }}<br>
        <input type="submit" value="Submit">
    </form>

    {% if text %}
    <h2>Submitted Text:</h2>
    <p>{{ text }}</p>
    {% endif %}
<ol>
    <li>უკუკავშირი. რა მოგეწონათ ან არ მოგეწონათ ჩვენთან?</li>
    <textarea placeholder="პასუხი აქ ჩაწერეთ" cols="40" rows="5"></textarea>
    <li>რომელი ღვინო მოგეწონათ?</li>
    <textarea placeholder="პასუხი აქ ჩაწერეთ" cols="40" rows="5"></textarea>
</ol>
<hr>
</div>
</form>



{% endblock %}