{% extends "layout/base.html" %}
{% block title %}
 User Profile | Tazoswinery.ge
{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
        {% for  category, message in messages %}
            <li class="{{ category }}">
                {{ message }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}


    <div class="container mt-4 bg-light rounded-3 shadow custom2-background">
        <div class="row">
            <div class="col-md-4">
                     <div class="text-center">
                         {% if current_user.is_authenticated %}
                             {% if current_user.profile_photo %}
                       <img src="{{ current_user.profile_photo }}" alt="Profile Image" class="img-thumbnail"
                            style="width: 200px; height: 200px;">
                   </div>

                {% else %}
                <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="Profile image"
                     class="img-thumbnail" style="width: 200px; height: 200px;">
                {% endif %}
            {% else %}
             <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="Profile image"
                     class="img-thumbnail" style="width: 200px; height: 200px;">
            {% endif %}
            </div>
            <div class="col-md-8">
                {% if current_user.is_authenticated %}
                    <span> <strong>{{ "მოგესალმები" }} {{ current_user.username }}
                    {{ "შენს მთავარ გვერდზე, აქ შეგიძლია ნახო შენი პირადი მონაცემები:" }}</strong></span>
                    <hr>
                    <span class="label"><strong>{{ "სახელი:" }}</strong>   {{ current_user.username }}
                        <i class="material-icons">&#xe8e8;</i> </span>
                    <hr>
                    <span class="label"><strong>{{ "ელ-ფოსტა:" }}</strong>    {{ current_user.email }}</span>
                    <hr>
                    <span class="label"><strong>{{ "სქესი:" }}</strong>    {{ current_user.gender }}</span>
                    <hr>
                    <span class="label"><strong>{{ "დაბადების თარიღი:" }}</strong>  {{ current_user.birthday }}</span>
                {% endif %}
            </div>
        </div>

        <form method="POST" enctype="multipart/form-data">
            <div class="file-upload account_info_upload_image mt-4">
                <div class="image-upload-wrap">
                    <input class="file-upload-input" type="file" name="profile_image" id="profile_image" onchange="readURL(this);" accept="image/*">
                    <img src="#" id="uploaded-image" alt="Uploaded Image Preview" style="display: none;">
                </div>
                <button class="btn btn-outline-secondary" type="submit">სურათის ატვირთვა</button>
            </div>
        </form>
    </div>
    </div>
{% endblock %}
